<div ng-controller="breakfastController">
    <div class="jumbotron">
        <h1><span style="color: #FFBF00; font: 400 100px/1.3 'Berkshire Swash', Helvetica, sans-serif;">"Breakfast ...</span></h1>
        <h3 align="right"> ... the first meal taken after rising from a night's sleep, most often eaten in the early morning before undertaking the day's work."</h3>
    </div>
    
    <!--- SEARCH DIV ------------>
    <div class="form-inline">
        <input type="text" class="form-control" ng-model="search" placeholder="Search recipe...">
        <span class="glyphicon glyphicon-search"></span> 
    </div>
    
    <!--- LIST OF ELEMENTS ------------>
    <div class="page-header">
        <ul >
            <li style="list-style-type: none" ng-repeat="(id, bookmark) in bookmarks | filter: bookmark.category: category">
                <label for="listEl">
                    <button type="button" class="btn btn-default" ng-click="editForm(id); showEditing()" ><span class="glyphicon glyphicon-pencil" ></span></button>
                    <button type="button" class="btn btn-default" ng-click="removeItem(id)">&times;</button>
                </label>
                <a href="#{{bookmark.url}}" style="text-decoration: none; font-size:20px; padding-left: 20px;" id="listEl"> {{ "    " + bookmark.title | filter: search }} </a>
            </li>
        </ul>
    </div>
    <div id="buttonDiv">
        <button style="font-size: 20px;" type="button" class="btn btn-default" ng-click="resetForm(); showCreating()">
            <b><span class="glyphicon glyphicon-plus-sign"></span></b>  Add new recipe
        </button>
    </div>
    
    <!--- ADD DIV ------------>
    <div class="jumbotron" id="addDiv" style="background-color: white;" ng-hide="hideCreate">
        <h2>Add recipe</h2>
        <form role="form">
             <div class="form-group">
                <label for="bookmarkTitle">Bookmark Title</label>
                <input type="text" ng-model="bookmarkTitle" class="form-control" id="bookmarkTitle" placeholder="{{placeHolderTitle}}">
            </div>
            <div class="form-group">
                <label for="bookmarkUrl">Bookmark URL</label>
                <input type="text" ng-model="bookmarkUrl" class="form-control" id="bookmarkUrl" placeholder="{{placeHolderUrl}}">
            </div>
        </form>
       <button type="button" class="btn btn-primary" ng-click="addItem(bookmarkTitle, bookmarkUrl); cancelCreating(); resetForm()"><span class="glyphicon glyphicon-ok-sign"></span>  Save</button>
       <button type="button" class="btn btn-default" ng-click="cancelCreating(); resetForm()"><span class="glyphicon glyphicon-remove-sign"></span>  Cancel</button>
    </div>
    
    <!--- EDIT DIV ------------>
    <div class="jumbotron"  id="editDiv" style="background-color: white;" ng-hide="hideEdit">
        <h2>Edit bookmark</h2>
        <form role="form">
             <div class="form-group">
                <label for="bookmarkTitle">Bookmark Title</label>
                <input type="text" ng-model="bookmarkTitle" class="form-control" id="bookmarkTitle" placeholder="{{bookmarkTitle}}">
            </div>
            <div class="form-group">
                <label for="bookmarkUrl">Bookmark URL</label>
                <input type="text" ng-model="bookmarkUrl" class="form-control" id="bookmarkUrl" placeholder="{{bookmarkUrl}}">
            </div>
        </form>
        <button type="button" class="btn btn-primary" ng-click="updateItem(id); cancelEditing();"><span class="glyphicon glyphicon-ok-sign"></span>  Save</button>
        <button type="button" class="btn btn-default" ng-click="cancelEditing(); resetForm()"><span class="glyphicon glyphicon-remove-sign"></span>  Cancel</button>
    </div>
</div>