<div ng-controller="dessertController">
    <div class="jumbotron">
        <h1><span class="logoSubPage">"Dessert ...</span></h1>
        <h3 class="smallLogoSubPage"> ... usually sweet course or dish, as of fruit, ice cream, or pastry, served at the end of a meal."</h3>
    </div>
    
    <!--- TITLE DIV ------------>
    <div class="page-header">
        <h4><span class="glyphicon glyphicon-list-alt"></span> Your recipie list:</h4>
    </div>
    
    <!--- LIST OF ELEMENTS ------------>
    <div class="page-header">
        <ul >
            <!--<li class="listStyle" ng-repeat="(id, bookmark) in bookmarks | filter: {category: currentCategory.name} ">-->
            <li class="listStyle" ng-repeat="(id, bookmark) in bookmarks">
                <label for="linkStyle">
                    <button type="button" class="btn btn-default" ng-click="resetForm(); editForm(id, bookmark.title, bookmark.url); showEditing()" ><span class="glyphicon glyphicon-pencil" ></span></button>
                    <button type="button" class="btn btn-default" ng-click="cancelEditing(); removeItem(id)">&times;</button>
                </label>
                   <a ng-controller="openTab" class="linkStyle" ng-click="openTab(id, bookmark.url)">{{ "    " + bookmark.title  }}</a>
            </li>
        </ul>
    </div>
    <div id="buttonDiv">
        <button type="button" class="btn btn-default" ng-click="resetForm(); showCreating()">
            <b><span class="glyphicon glyphicon-plus-sign"></span></b>  Add new recipe
        </button>
    </div>
    
    <!--- ADD DIV ------------>
    <div class="jumbotron" id="addDiv" ng-hide="hideCreate">
        <h2>Add recipe</h2>
        <form role="form">
             <div class="form-group">
                <label for="bookmarkTitle">Bookmark Title</label>
                <input type="text" ng-model="bookmarkTitle" class="form-control" id="bookmarkTitle" placeholder="{{placeHolderTitle}}">
            </div>
            <div class="form-group">
                <label for="bookmarkUrl">Bookmark URL</label>
                <input type="text" ng-model="bookmarkUrl" class="form-control" id="bookmarkUrl" placeholder="{{placeHolderUrl}}">
            </div>
        </form>
       <button type="button" class="btn btn-primary" ng-click="addItem(bookmarkTitle, bookmarkUrl); cancelCreating(); resetForm()"><span class="glyphicon glyphicon-ok-sign"></span>  Save</button>
       <button type="button" class="btn btn-default" ng-click="cancelCreating(); resetForm()"><span class="glyphicon glyphicon-remove-sign"></span>  Cancel</button>
    </div>
    
    <!--- EDIT DIV ------------>
    <div class="jumbotron"  id="editDiv" ng-hide="hideEdit">
        <h2>Edit bookmark<span style="color: #FE642E"><b>{{ " " + bookmarks[itemId].title }}</b></span></h2>
        <form role="form">
             <div class="form-group">
                <label for="bookmarkTitle">Bookmark Title</label>
                <input type="text" ng-model="bookmarkTitle" class="form-control" id="bookmarkTitle" placeholder="{{bookmark.title}}">
            </div>
            <div class="form-group">
                <label for="bookmarkUrl">Bookmark URL</label>
                <input type="text" ng-model="bookmarkUrl" class="form-control" id="bookmarkUrl" placeholder="{{bookmark.url}}">
            </div>
        </form>
        <button type="button" class="btn btn-primary" ng-click="updateItem(); cancelEditing();"><span class="glyphicon glyphicon-ok-sign"></span>  Save</button>
        <button type="button" class="btn btn-default" ng-click="cancelEditing(); resetForm()"><span class="glyphicon glyphicon-remove-sign"></span>  Cancel</button>
    </div>
</div>