<div ng-controller="lunchController">
    <div class="jumbotron">
        <h1><span class="logoSubPage">"Lunch ...</span></h1>
        <h3 class="smallLogoSubPage"> ...  is a midday meal of varying size depending on the culture."</h3>
    </div>
    
     <!--- TITLE DIV ------------>
    <div class="page-header">
        <h4><span class="glyphicon glyphicon-list-alt"></span> Your recipie list:</h4>
    </div>
    
    <!--- LIST OF ELEMENTS ------------>
    <div class="page-header">
        <ul >
            <li class="listStyle" ng-repeat="(id, bookmark) in bookmarks | filter: {category: currentCategory.name} ">
                <label for="linkStyle">
                    <button type="button" class="btn btn-default" ng-click="editForm(id); showEditing()" ><span class="glyphicon glyphicon-pencil" ></span></button>
                    <button type="button" class="btn btn-default" ng-click="cancelEditing(); removeItem(id)">&times;</button>
                </label>
                   <a ng-controller="openTab" class="linkStyle" ng-click="openTab(id, bookmark.url)">{{ "    " + bookmark.title  }}</a>
            </li>
        </ul>
    </div>
    <div id="buttonDiv">
        <button type="button" class="btn btn-default" ng-click="resetForm(); showCreating()">
            <b><span class="glyphicon glyphicon-plus-sign"></span></b>  Add new recipe
        </button>
    </div>
    
    <!--- ADD DIV ------------>
    <div class="jumbotron" id="addDiv" ng-hide="hideCreate">
        <h2>Add recipe</h2>
        <form role="form">
             <div class="form-group">
                <label for="bookmarkTitle">Bookmark Title</label>
                <input type="text" ng-model="bookmarkTitle" class="form-control" id="bookmarkTitle" placeholder="{{placeHolderTitle}}">
            </div>
            <div class="form-group">
                <label for="bookmarkUrl">Bookmark URL</label>
                <input type="text" ng-model="bookmarkUrl" class="form-control" id="bookmarkUrl" placeholder="{{placeHolderUrl}}">
            </div>
        </form>
       <button type="button" class="btn btn-primary" ng-click="addItem(bookmarkTitle, bookmarkUrl); cancelCreating(); resetForm()"><span class="glyphicon glyphicon-ok-sign"></span>  Save</button>
       <button type="button" class="btn btn-default" ng-click="cancelCreating(); resetForm()"><span class="glyphicon glyphicon-remove-sign"></span>  Cancel</button>
    </div>
    
    <!--- EDIT DIV ------------>
    <div class="jumbotron"  id="editDiv" ng-hide="hideEdit">
        <h2>Edit bookmark</h2>
        <form role="form">
             <div class="form-group">
                <label for="bookmarkTitle">Bookmark Title</label>
                <input type="text" ng-model="bookmarkTitle" class="form-control" id="bookmarkTitle" placeholder="{{bookmarkTitle}}">
            </div>
            <div class="form-group">
                <label for="bookmarkUrl">Bookmark URL</label>
                <input type="text" ng-model="bookmarkUrl" class="form-control" id="bookmarkUrl" placeholder="{{bookmarkUrl}}">
            </div>
        </form>
        <button type="button" class="btn btn-primary" ng-click="updateItem(id); cancelEditing();"><span class="glyphicon glyphicon-ok-sign"></span>  Save</button>
        <button type="button" class="btn btn-default" ng-click="cancelEditing(); resetForm()"><span class="glyphicon glyphicon-remove-sign"></span>  Cancel</button>
    </div>
</div>